.hide {
    opacity: 0;
    visibility: hidden;
    position: absolute;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* border: 1px solid #000000; */
    border-radius: 30px;
    
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #f0f0f0;
    font-family: "Overpass", sans-serif;
    
}

#rating-state{
    display: flex;
    flex-direction: column;
    width: 25%;
    line-height: 1.4;
    background-image: url("Dark-Grey-background.jpg");
    padding: 40px;
}

.button-list {
    display: flex;
    list-style-type: none; 
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
    grid-auto-flow: column; 
}

.button-list button {
    
    display: flex;
    color: white;
    padding: 10px 15px;    
    font-size: 16px;       
    cursor: pointer;       
    border: 0px solid #000000; 
    background-color: #2f111175; 
    border-radius: 5px;    
    transition: background-color 0.3s ease; 
    border-radius: 50%;
    font-family: "Overpass", sans-serif;
}

.button-list button:hover {
    background-color: #ffaa00; 
    color: rgb(0, 0, 0);             
}

button.selected {
    background-color: whitesmoke;
    color: rgb(0, 0, 0);
}

.fontTextQuestion {
    font-size: 25px;
    color: #f0f0f0;
}

.fontText-1 {
    color: gray;
    font-size: 13px;
}

.submitClass{
    font-size: 16px;
    font-family: "Overpass", sans-serif;
    font-weight: bold;
    cursor: pointer;
    display: flex;
    justify-content: center;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: orange;
    border: 1px solid black;
    transition: background-color 0.3s;
}

#submit:hover{
    background-color: #f0f0f0;
    color: rgb(0, 0, 0); 
}